.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}
.loginbtn {
  margin-top: 35px;
  height: 72px;
  width: 450px;
  background: #F4A460;
  border: 1px;
  border-radius: 10px;
  font-size: 30px;
}
.loginbtn: hover {
  margin-top: 35px;
  height: 72px;
  width: 450px;
  background: #f4a460b0;
  border: 1px;
  border-radius: 10px;
  font-size: 30px;
}